body {
  width: 420px;
  height: 200px;
  padding: 20px;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
  font-size: 14px;
}

body > header  {
  margin-bottom: 20px;
}

a, a:visited, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border: 1px solid #EE3C3C;
}
