<form accept-charset="UTF-8" ng-controller="LoginController as login">
  <legend>Entrar</legend>

  <div class="alert alert-success" ng-show="alert.success">
    <button type="button" class="close" ng-click="alert.success = undefined"><span aria-hidden="true">&times;</span></button>
    {{alert.success}}
  </div>
  <div class="alert alert-danger" ng-show="alert.error">
    <button type="button" class="close" ng-click="alert.error = undefined"><span aria-hidden="true">&times;</span></button>
    {{alert.error}}
  </div>

  <div class="form-group">
    <label for="user_email">Email</label><br>
    <input autofocus="autofocus" id="user_email" type="email" ng-model="user.email" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="user_password">Senha</label><br>
    <input autocomplete="off" id="user_password" type="password"  ng-model="user.password" class="form-control" required>
  </div>

  <input type="submit" value="Entrar" ng-click="login.submitLogin()" class="btn btn-primary">
</form>
